@inject IGameService GameService
@page "/games"
@attribute [StreamRendering]

<h3>GameList</h3>
@if(games == null)
{
    <span>Loading...</span>
}
else if(games.Count == 0)
{
    <span>No Games Found</span>
}
else
{
    <ul>
        @foreach(var game in games)
        {
            <li value="@game.Id">@game.Name</li>
        }
    </ul>
}
@code {
    List<Game>? games = null;
    protected override async Task OnInitializedAsync()
    {
        games = await GameService.GetAllGames();
    }
}
